<% provide(:title, @finance.description) %>
<div class="row">
  <aside class="span4">
    <section>
        <p>Description: <%= @finance.description %></p>
		<p>Donation Amount: <%= @finance.amount %></p>
  		<p>Date: <%= @finance.date %></p>
    </section>
  </aside>
</div>