<% provide(:title, 'All Branch') %>
<h1>All Branch</h1>
<p><%= link_to "Add Branch", new_branch_path ,:class => 'btn btn-primary'%></p>

<%= will_paginate %>
<ul class="branches">
<table>
<tr>
<th class="accth">Description</th>
<th class="accth">Edit</th>
<th class="accth">Delete</th>
</tr>
    <%= render @branches %>
</table>
</ul>

<%= will_paginate %>