<% provide(:title, 'Create New Branch') %>
<h1>Create New Branch</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for (@branch) do |f| %>
	<%= render 'shared/branch_error' %>
      <%= f.input :name %>

      <%= f.submit 'Create Branch', class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>