<% provide(:title, @transport.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <p>Name: <%= @transport.name %></p>
  		<p>Email <%= @transport.email %></p>
  		<p>Contact Number: <%= @transport.contact_number %></p>
    </section>
  </aside>
</div>