<% provide(:title, @transport.transit_id) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
  		<p>Transit: <%= transport.transit_id %></p>
  		<p>Name: <%= transport.name %></p>
      </h1>
    </section>
  </aside>
</div>