<% provide(:title, 'All Items') %>
<h1>All Items</h1>
<p><%= link_to "Add Item", new_item_path ,:class => 'btn btn-primary'%></p>

<%= will_paginate %>
<ul class="items">
<table>
<tr>
<th class="accth">Description</th>
<th class="accth">Edit</th>
<th class="accth">Delete</th>
</tr>
    <%= render @items %>
</table>
</ul>

<%= will_paginate %>