<% provide(:title, @expense.description) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
		<p>Expense Amount: <%= @expense.amount %></p>
		<p>Description : <%= @expense.description %></p>
		<p>Date : <%= @expense.date %></p>
      </h1>
    </section>
  </aside>
</div>