<% provide(:title, 'Reports') %>
<h1>Reports</h1>
<div class="row">
<div class="span6 offset3">
<%= simple_form_for :temp, :method => "get", :url => report_path do |f| %>
<%= f.input :graph_type,collection:["Funds Report","Expenses Report"] %>
<%= f.submit 'Generate Report', class: "btn btn-large btn-primary" %>
<% end %>
</div>
</div>

<%= 
if !params[:temp].blank?
	if params[:temp][:graph_type] == "Funds Report"
	
    	image_tag(Gchart.bar :title =>'Fund',
							 :stacked => false,
							 :size => '500x500',
							 :data => Fund.pluck(:amount),
							 :legend => Fund.pluck(:type),
							 :theme => :pastel
							 )

	else 
	if params[:temp][:graph_type] == "Expenses Report"
	    
	    image_tag(Gchart.bar :title =>'Expenses',
							 :stacked => false,
							 :size => '500x500',
							 :data => Expense.uniq.collect(&:amount),
							 :legend => Fund.where(:id => Expense.uniq.collect(&:fund_id)).collect(&:type),
							 :theme => :pastel
							 )
	end
	end
end 	%>

