<% provide(:title, @fund.type) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <p>Fund Type: <%= @fund.type %></p>
		<p>Fund Amount: <%= @fund.amount %></p>
      </h1>
    </section>
  </aside>
</div>