<footer class="footer">
  <small>
    Tusita Enterprise Resource Planning System
  </small>
	
  <nav>
    <ul>
	  <li id="clock"></li>
	  <li><%= Time.new.strftime("%Y-%m-%d") %></li>
    </ul>
  </nav>
</footer>